<div class="container">
    <div class="books details">
        <img class="cover_img" src="<%= book.img %>" alt="<%= book.title %>">
        <h1 class="title"><%= book.title %></h1>
        <h2 class="auther">Written by: <%= book.author %></h2>
        <h2 class="isbn">ISBN: <%= book.isbn %></h2>
        <p class="discription"><%= book.description %></p>
    </div>
</div>
